/* 
NAVBAR
*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

.row__nav{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.logo__img{
    width: 100px;
}

.nav__link--list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link{
    padding: 0 24px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: not-allowed;
}