/* 
NAVBAR
*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

.row__nav{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.logo__img{
    width: 100px;
}

.nav__link--list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link--wrapper{
    text-decoration: none;
}

.nav__link{
    padding: 0 24px;
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.no-cursor{
    cursor: not-allowed;
}

.toggle{
    cursor: pointer;
}

.theme{
    transition: all 300ms ease;
}

.theme:hover{
    transform: scale(1.1);
}

.theme:active{
    transform: scale(0.9);
}