@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nanum+Myeongjo:wght@400;700&family=Roboto:wght@400;700;900&display=swap');

*{
  background-color: #242424;
  font-family: "Montserrat", "lato";
}

.white-theme{
  filter: invert(100%);
  background-color: white;
}

.white-theme .home__page--img{
  filter: invert(100%);
  background-color: #dbdbdb;
}

.white-theme .poster__img{
  filter: invert(100%);
}

.white-theme select{
  color: grey;
  background-color: black;
  border: none;
}